<h1>Álbum del Mundial</h1>

<a href="/Sobre/Index">
    <button>Abrir Sobre</button>
</a>

<a href="/Album/Index">
    <button>Ver Álbum</button>
</a>

<a href="/Album/Coleccion">
    <button>Mi colección</button>
</a>

<a href="/Album/Repetidas">
    <button>Repetidas</button>
</a>