<h1>Colección</h1>

@foreach(var figurita in ViewBag.Coleccion)
{
    <img src="/images/jugadores/@figurita.Jugador.Imagen" width="180">

    <div>@figurita.Jugador.Nombre</div>

    <div>Cantidad: @figurita.Cantidad</div>

    <br><br>
}