<h1>Álbum</h1>

@foreach(var seleccion in ViewBag.Selecciones)
{
    <h2>@seleccion.Nombre</h2>

    @foreach(var jugador in ViewBag.Jugadores)
    {
        @if(jugador.IdSeleccion == seleccion.IdSeleccion)
        {
            <img src="/images/jugadores/@(jugador.IdJugador).svg" width="120">
        }
    }
}