<h1>Álbum</h1>

@foreach (var seleccion in ViewBag.Selecciones)
{
    <h2>@seleccion.Nombre</h2>

    @foreach (var jugador in ViewBag.Jugadores)
    {
        if (jugador.IdSeleccion == seleccion.IdSeleccion)
        {
            if (jugador.TieneFigurita)
            {
                <img src="/images/Jugadores/@jugador.Imagen" width="180">
            }
            else
            {
                <img src="/images/Jugadores/FiguritaFalta.jpg" width="180">
            }
        }
    }

    <br>
}