USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 3/7/2026 08:24:07 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 3/7/2026 08:24:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[IdJugador] [int] NOT NULL,
	[IdFigurita] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Pegada] [bit] NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[IdFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 3/7/2026 08:24:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[Nombre] [varchar](50) NOT NULL,
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[Posicion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 3/7/2026 08:24:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[Nombre] [varchar](50) NOT NULL,
	[IdJugador] [int] NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[IdSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([IdJugador], [IdFigurita], [Cantidad], [Pegada]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Figuritas] ([IdJugador], [IdFigurita], [Cantidad], [Pegada]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Figuritas] ([IdJugador], [IdFigurita], [Cantidad], [Pegada]) VALUES (3, 3, 1, 0)
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([Nombre], [IdJugador], [IdSeleccion], [Numero], [Posicion]) VALUES (N'Lionel Messi', 1, 1, 10, N'Delantero')
INSERT [dbo].[Jugadores] ([Nombre], [IdJugador], [IdSeleccion], [Numero], [Posicion]) VALUES (N'Emiliano Martínez', 2, 1, 23, N'Arquero')
INSERT [dbo].[Jugadores] ([Nombre], [IdJugador], [IdSeleccion], [Numero], [Posicion]) VALUES (N'Cristian Romero', 3, 1, 13, N'Defensor')
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
INSERT [dbo].[Selecciones] ([Nombre], [IdJugador], [IdSeleccion], [Color]) VALUES (N'Argentina', 1, 1, N'Celeste y Blanco')
INSERT [dbo].[Selecciones] ([Nombre], [IdJugador], [IdSeleccion], [Color]) VALUES (N'Brasil', 2, 2, N'Amarillo')
INSERT [dbo].[Selecciones] ([Nombre], [IdJugador], [IdSeleccion], [Color]) VALUES (N'Francia', 3, 3, N'Azul')
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Jugadores] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[Jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Jugadores]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Selecciones] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([IdSeleccion])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Selecciones]
GO
